@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-dark{
    background-color:#1b222c;
    cursor:pointer;
    user-select: none;
    color:#fff;
    font-weight: 600;
    font-size:0.75rem;
    line-height: 1rem;
    padding:0.5rem 1rem;
    border-color:transparent;
    border-radius:0.375rem;
    display:inline-flex;
    align-items: center;
    transition:all 0.15s ease-in-out; 
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity));
}

.btn-dark.transparent{
    background-color:transparent !important;
}

.btn-dark.darker{
    background-color:#181d26;
}
html:not(.dark) .btn-dark.darker{
    background-color:#394251;
}
html:not(.dark) .btn-dark{
    background-color:#394251;
}
html:not(.dark) .btn-dark:hover{
    background-color:#475161;
}
.btn-dark:hover{
    background-color: #232c39;
}
.btn-dark:active{
    background-color: #111827;
}
.btn-dark:focus{
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(17 24 39 / var(--tw-border-opacity));
}
.btn-dark:focus-visible{
    outline:auto;
}

.loading{
    display:flex;
    justify-content:center;
    align-items: center;
    pointer-events:none;
}

.loading:before{
    content:'';
}

.loading:after{
    margin-left:5px;
    width:1.2em;
    height:1.2em;
    content:url("data:image/svg+xml,%3Csvg version='1.1' id='L9' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='20 20 60 60' enable-background='new 0 0 0 0' xml:space='preserve'%3E%3Cpath fill='%23fff' d='M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50'%3E%3CanimateTransform attributeName='transform' attributeType='XML' type='rotate' dur='1s' from='0 50 50' to='360 50 50' repeatCount='indefinite' /%3E%3C/path%3E%3C/svg%3E");
}

ul li{
    margin-bottom:0.5rem;
}